.icon1::after {
  content: " ";
  background-image: url("assets/cardvector-1.svg");
  width: 31px;
  height: 26px;
}
.icon2::after {
  content: " ";
  background-image: url("assets/cardvector-2.svg");
  width: 31px;
  height: 26px;
}
.icon3::after {
  content: " ";
  background-image: url("assets/cardvector-3.svg");
  width: 34px;
  height: 26px;
}
.icon4::after {
  content: " ";
  background-image: url("assets/cardvector-4.svg");
  width: 34px;
  height: 26px;
}

input:-webkit-autofill {
  background-color: black !important;
}

.noScroll::-webkit-scrollbar {
  width: 0 !important;
}
.noScroll {
  scrollbar-width: none;
}

.heroImg {
  background-image: url("./assets/hero-img.png");
  width: 837px;
  height: 878px;
  margin-top: -49px;
  margin-right: -245px;
}

@media (max-width: 600px) {
  .heroImg {
    background-image: url("./assets/mobileHeroImg.png");
    width: 245px;
    height: 260px;
    margin-top: 154px;
    margin-right: -103px;
  }
}
.App {
  height: 100vh;
  width: 100wh;
}

a:focus {
  outline: none;
}

.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
  --tw-bg-opacity: 0;
}
